<launch>

  <arg name="ns" default="vision"/>
  <arg name="port" default="0"/>
  <arg name="base_link" default="/base_link"/>

  <include file="$(find drv_brain)/launch/includes/drv_host.launch.xml">
  	<arg name="vision_namespace" value="$(arg ns)"/>
    <arg name="usb_port_num" value="$(arg port)"/>
    <arg name="camera_type" value="openni2"/>
  </include>

  <include file="$(find drv_brain)/launch/includes/drv_workstation.launch.xml">
  	<arg name="vision_namespace" value="$(arg ns)"/>

    <!-- vision system referance frame on the robot -->
    <arg name="base_link_frame" value="$(arg base_link)"/>
  </include>

</launch>